
.--pr-root {
    margin-top: 26px;
    margin-bottom: 26px;
    max-height: calc(100dvh - (26px * 3));
    
    display: flex;
    flex-direction: column;
    overflow: visible;
}

circular-progress {
    flex-shrink: 0;
    align-self: flex-start;
    
    --fg-text: var(--fg-text);
    --circular-color: var(--ctp-peach);
}

.--pr-metadata > div {
    width: 100%;
}

.--pr-metadata { 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
    
    background-color: var(--bg-light);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 8px;

    border: var(--ctp-peach) solid 1px;
    border-left: var(--ctp-peach) solid 4px;
}

.--pr-metadata:focus-visible {
    outline: unset;
    border-color: var(--ctp-green);
}

/*.--pr-metadata:focus-visible::before {
    position: absolute;
    content: '';
    
    height: 100%;
    width: 4px;

    left: 0;
    top: 0;

    border-radius: 9px;
    background-color: var(--ctp-peach);
}*/

.--pr-title {
    display: block;
    width: 100%;
    font-size: 2rem;
    line-height: 1.2lh;
    margin: 0;
}

.--pr-description {
    display: block;
    width: 100%;
    line-height: 1lh;
}

.--pr-children {
    flex: 1; 
    overflow-y: auto; 
    min-height: 0; 
}

.--pr-children > fractos-task > .--ts-root {
    margin-right: 8px;
}

.--ts-indicator {
    display: inline-flex;
    font-size: .6rem;
    padding-inline: 2px;
}

.--ts-indicator.closed {
    color: var(--ctp-red);
}

.--ts-checkbox {
    display: inline;
}

.--ts-content {
    display: flex;
    align-items: center;
    
    margin-top: 8px;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.--ts-content:focus {
    outline: unset;
    background-color: var(--sm-bg-info);
}

.--ts-title {
    flex-grow: 1;
    flex-basis: 0;
    display: inline-block;
    margin: 0;
    margin-right: 2px;
}

.--ts-children {
    position: relative;
}

.--ts-children::before {
    content: '';
    position: absolute;

    left: calc(1ch - 2px);
    
    height: 100%;
    width: 2px;

    background-color: var(--bg-light);
}

.--ts-percentage {
    --lp-bg: var(--bd-dark);
    --lp-fill: var(--sm-fg-info);

    --lp-text: transparent;
    --lp-text-fill: transparent;

    --lp-border-color: transparent;
    --lp-border-width: 0;

    --lp-height: .3rem;
    --lp-width: 6rem;
    --lp-duration: 0.4s;
}

progress-bar {
    display: flex;
    width: 20px;
    
    justify-content: center;
    padding-inline: 2px;
}
.number.done {
    background-color: var(--ctp-green);
    color: var(--bg-dark)
}

.number {
    display: inline-block;
    width: 6ch;
    text-align: center;

    font-size: .7rem;

    border-radius: 9px;
    background-color: var(--bg-light);
    /*color: var(--bg-dark);*/

    padding: 2px 4px;
    margin-inline: 4px;
}

.progress {
  display: inline-flex;
  align-items: center;
  position: relative;
  
  background-color: var(--lp-bg);
  color: var(--lp-text);
  border-radius: 999px;
  border: var(--lp-border-width) solid var(--lp-border-color);
  
  width: var(--lp-width);
  height: var(--lp-height);
  
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.2s ease;
}

.progress::before {
  display: inline-flex;
  
  color: var(--lp-text-fill);
  overflow: hidden;
  content: '';
  position: absolute;
  background-color: var(--lp-fill);
  pointer-events: none;
  
  top: 0;
  left: 0;
  
  width: var(--percentage-width, 0%);
  height: 100%;
  transition: width var(--lp-duration) cubic-bezier(0.4, 0, 0.2, 1);
  
  box-sizing: border-box;
  z-index: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
    margin: auto;
    margin-top: 30dvh;
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(
            closest-side at calc(100% / 6) 50%,
            var(--fg-brigth) 90%,
            #0000
        )
        0/75% 100%;
    position: relative;
    animation: l15-0 1s infinite linear;
}
.loader::before {
    content: "";
    position: absolute;
    background: inherit;
    clip-path: inset(0 0 0 50%);
    inset: 0;
    animation: l15-1 0.5s infinite linear;
}
@keyframes l15-0 {
    0%,
    49.99% {
        transform: scale(1);
    }
    50%,
    100% {
        transform: scale(-1);
    }
}
@keyframes l15-1 {
    0% {
        transform: translateX(-37.5%) rotate(0turn);
    }
    80%,
    100% {
        transform: translateX(-37.5%) rotate(1turn);
    }
}

